/*
 Grayscale optimized map tiles

*/
.leaflet-tile {
    filter: contrast(1.3) grayscale(0.8) !important;
}

path.grid-rectangle {
	stroke: rgba(0, 0, 0, 0.09);
}

span.grid-text > font {
	color: rgba(0, 0, 0, 0.09) !important;
	font-weight: 400 !important;
}

span.grid-text-unworked > font {
	color: rgba(0, 0, 0, .4) !important;
	font-weight: 400 !important;
}

span.grid-text-worked > font {
	color: rgba(0, 0, 0, 1) !important;
	font-weight: 400 !important;
}
