/*
 Superhero Map Style
 This is a built-in theme, So All style rules from Theme.

*/

.leaflet-tile {
	filter: invert() hue-rotate(180deg) sepia(100%) hue-rotate(180deg) !important;
}

path.grid-rectangle {
	stroke: rgba(200, 200, 200, 0.5);
}

span.grid-text > font {
	color: rgba(255, 255, 255, 1) !important;
	font-weight: 400 !important;
}

span.grid-text-unworked > font {
	color: rgba(255, 255, 255, .4) !important;
	font-weight: 400 !important;
}

span.grid-text-worked > font {
	color: rgba(255, 255, 255, 1) !important;
	font-weight: 400 !important;
}