/application/config/database.php
/application/config/config.php
/application/logs/*
/application/cache/*
/backup/*.adi
/uploads
/uploads/*.adi
/uploads/*.ADI
/uploads/*.tq8
/uploads/*.TQ8
/install/.lock
/updates/*
/images/eqsl_card_images/*.jpg
/updates/clublog_scp.txt
/assets/qslcard/*
/assets/js/sections/custom.js
/userdata/*
.idea/*
.DS_Store
sync.sh
*.p12
*.swp
.debug
.maintenance
.demo
.htaccess
