/*!
 * No overrides for the default theme as it aligns with general.css
*/
:root {
	--cl-border-btn-pwd: var(--bs-body-bg);
}

.table {
	--bs-table-border-color: #444444;
	--bs-table-color: #fff;
	--bs-table-striped-color: #fff;
	--bs-table-active-color: #fff;
	--bs-table-hover-color: #fff;
	--bs-table-accent-bg: #303030;
}

.qslprint {
	--bs-table-striped-bg: none;
}

.table-striped tbody > tr.activeRow {
    background-color: #5cb85c !important;
	--bs-table-accent-bg: none;
}

.border-top {
	--bs-border-color: #444444;
}

.text-bg-light {
	color: black !important;
}

.awardsBgDanger a {
	color: white;
}

.awardsBgSuccess a{
	color: white;
}

.form-select:disabled {
	background-color: #222222;
}

/*
*	Dark Maps
*/

.leaflet-tile {
	filter: invert() hue-rotate(180deg) grayscale(0.8) brightness(1.2) !important;
}

path.grid-rectangle {
	stroke: rgba(200, 200, 200, 0.5);
}

span.grid-text > font {
	color: rgba(255, 255, 255, 1) !important;
	font-weight: 400 !important;
}

span.grid-text-unworked > font {
	color: rgba(255, 255, 255, .4) !important;
	font-weight: 400 !important;
}

span.grid-text-worked > font {
	color: rgba(255, 255, 255, 1) !important;
	font-weight: 400 !important;
}

path.grid-confirmed {
	fill: rgba(20, 109, 20, 0.7) !important;
	stroke: rgba(20, 255, 144, 0.7) !important;
}

path.grid-worked {
	fill: rgba(172, 40, 40, 0.7) !important;
	stroke: rgba(248, 96, 129, 0.7) !important;
}

.map-leaflet {
	background-color: #343d3f!important;
}

/* 
*	Dark Navigation 
*/

/* Navigation background */

.bg-light {
	background-color: #303030 !important;
}

/* Inactive Links */

.navbar-light .navbar-nav .nav-link {
	color: rgba(255, 255, 255, 0.6);
}

/* Active Links and Logo */

.navbar-light .navbar-brand,
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
	color: #fff;
}

/* Hamburger Menu */

.navbar-light .navbar-toggler-icon {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.6%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* 
*	Dark inputs 
*/

.form-control,
.form-control-sm,
.form-control:focus,
.form-control:disabled,
.form-select {
	background-color: rgba(20, 20, 20, 0.5);
	color: #eee;
}
.form-select {
	--bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
}

select optgroup,
select option {
	background-color: #222;
}

div.alert-success a,
div.alert-danger a,
div.alert-danger {
	color: #ffffff;
}

.bootstrap-dialog.type-primary .modal-header {
	background-color: #222222;
}

.selectize-dropdown,
.selectize-input,
.selectize-input input {
	color: #fff;
}

.selectize-input,
.selectize-control.single .selectize-input.input-active {
	background: #222222;
	color: #fff;
}

.selectize-input.full {
	background-color: #222222;
}

.selectize-dropdown,
.selectize-dropdown.form-control {
	background: #222222;
}

.selectize-input.focus {
	color: #444;
	background-color: #222222;
	border-color: #739ac2;
	box-shadow: 0 0 0 0.2rem rgba(55, 90, 127, 0.25);
}

.selectize-control.multi .selectize-input > div {
	background: #4c4c4c;
	color: #fff;
}

.selectize-dropdown,
.selectize-dropdown.form-control {
	border-radius: 0;
}

#edit_qso:not(.btn) {
	float: left;
}

.qso_call {
	float: left;
	width: 140px;
}

.qso_icons {
	float: right;
}

#qsoList_wrapper th {
	text-align: left !important;
	white-space: nowrap;
}
#qsoList_wrapper td {
	text-align: left !important;
	white-space: nowrap;
}

.accordion {
	--bs-accordion-active-color: #FFFFFF;
	--bs-accordion-btn-bg: #444444;
	--bs-accordion-active-bg: #444444;
	--bs-accordion-border-color: #444444;
	--bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23FFFFFF'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.accordion-button.collapsed {
	border-bottom:1px solid var(--bs-body-bg);
}

#quicklog-form .border,
#searchbar-form .border {
    border-color: #757575 !important;
}

.multiselect {
	--bs-btn-color: inherit !important;
	--bs-btn-bg: inherit !important;
	--bs-btn-border-color: inherit !important;
	--bs-btn-hover-border-color: inherit !important;
	--bs-btn-hover-bg: #1b1b1b;
	--bs-btn-hover-color: inherit !important;
	--bs-btn-active-bg: #1b1b1b;
	--bs-btn-active-color: inherit !important;
}

/* ============  Glanceyear ============ */
.glanceyear-container {
	border: 1px solid #333;
	border-radius: 5px;
	max-width: 683px;
	background-color: #1e1e1e;
}
.glanceyear-header {
	position: relative;
	background-color: #2c2c2c;
	border-bottom: 1px solid #444;
	border-radius: 5px 5px 0 0;
	color: #ffffff;
	font-size: 15px;
	font-weight: bold;
	margin: 0;
	padding: 7px 10px;
}
.glanceyear-quantity {
	position: absolute;
	right: 10px;
	top: 10px;
	color: #777;
	font-size: 10px;
}

.glanceyear-text {
	color: #aaa;
	font-size: 12px;
	font-weight: normal;
	margin: 0 0;
	padding: 0;
}
.glanceyear-summary {
	color: #aaa;
	font-size: 12px;
	margin: 0 10px 10px;
}

.glanceyear-legend {
	color: #777;
	float: right;
	font-size: 12px;
	text-align: middle;
	text-wrap: none;
}

svg rect.day {
	fill: #333;
	shape-rendering: crispedges;
}
svg rect.day:hover {
	stroke: #888;
	stroke-width: 1px;
}
svg rect.day[data-col] {
	fill: #246a66;
}
svg rect.day[data-col='1'] {
	fill: #a0f2ec;
}
svg rect.day[data-col='3'] {
	fill: #8bd8d1;
}
svg rect.day[data-col='6'] {
	fill: #76beb7;
}
svg rect.day[data-col='12'] {
	fill: #62a39c;
}
svg rect.day[data-col='24'] {
	fill: #4b837e;
}
svg rect.day[data-col='48'] {
	fill: #395b58;
}

svg text {
	fill: #aaa;
	font-size: 9px;
}
svg text.month {
	fill: #777;
}

.svg-tag {
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 3px;
	color: #1e1e1e;
	font-size: 12px;
	line-height: 15px;
	padding: 5px 15px;
	position: absolute;
	text-align: center;
}
.svg-tag:after {
	border-color: rgba(255, 255, 255, 0.9) transparent transparent transparent;
	border-style: solid;
	border-width: 5px 5px 0 5px;
	bottom: -5px;
	content: "";
	height: 0;
	left: 50%;
	margin-left: -5px;
	position: absolute;
	width: 0;
}

