/* Green:  #F5793A
 * Red:    #A95AA1
 * Yellow: #FFFF00
 * Grey:   #C0C0C0
 */

.eqsl-green {
   color: #F5793A !important;
}

.eqsl-red {
   color: #A95AA1 !important;
}

.eqsl-grey {
   color: #C0C0C0 !important;
}

.qsl-green {
   color: #F5793A !important;
}

.qsl-red {
   color:#A95AA1 !important;
}

.qsl-yellow {
   color: #FFFF00 !important;
}

.qsl-grey {
   color: #C0C0C0 !important;
}

.lotw-green {
   color: #F5793A !important;
}

.lotw-red {
   color: #A95AA1 !important;
}

.lotw-grey {
   color: #C0C0C0 !important;
}

.clublog-green {
   color: #F5793A !important;
}

.clublog-red {
   color: #A95AA1 !important;
}

.qrz-green {
   color: #F5793A !important;
}

.qrz-red {
   color: #A95AA1 !important;
}

.qrz-yellow {
   color: #FFFF00 !important;
}

.qrz-grey {
   color: #C0C0C0 !important;
}

.lotw_info_yellow {
	background-image: linear-gradient(to bottom, #F5793A, #FFFF00);
}

.lotw_info_orange {
	background-image: linear-gradient(to bottom, #F5793A, orange);
}

.lotw_info_red {
	background-image: linear-gradient(to bottom, #F5793A, #A95AA1);
}

path.grid-rectangle {
	stroke: rgba(97, 97, 97, 1);
}

span.grid-text > font {
	color: rgb(97, 97, 97) !important;
	font-weight: 400 !important;
}

span.grid-text-unworked > font {
	color: rgb(97, 97, 97) !important;
	font-weight: 400 !important;
}

span.grid-text-worked > font {
	color: rgb(255, 255, 255) !important;
	font-weight: 400 !important;
}