.eqsl-green{
color: yellow !important;
}
.eqsl-red{
color: red;
}
.qsl-green{
color: yellow !important;
}
.qsl-red{
color:red;
}
.qsl-yellow{
color: orange !important;
}
.qsl-grey{
color: turquoise !important;
}
.lotw-green{
color: yellow !important;
}
.lotw-red{
color: #F00 !important;
}
.clublog-green{
color: yellow !important;
}
.clublog-red{
color: #F00 !important;
}
